<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
</head>
<body>
  <div class="dashbord">
    <p class="m-0">Dashboard</p>
  </div>
  <div class="dashboard">
    <div class="card">
      <h2>Total Users</h2>
      <p id="totalUsers"></p>
    </div>
    <div class="card">
      <h2>Total Subscriptions</h2>
       <p id="totalsubscription"></p>
    </div>
    <!-- <div class="card">
      <h2>Total Categories</h2>
      <p id="totalCategories"></p>
    </div> -->
    
    <div class="card">
      <h2>Remaining APi Calls</h2>
       <p id="totalApiUsage"></p>
    </div>
  </div>
</body>
</html>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
jQuery(document).ready(function() {
  // Call AJAX on page load to fetch dashboard metrics
  $.ajax({
    url: "Category/dashboard_details_data/", // JSON datasource
    method: 'GET',             // or POST if required
    dataType: 'json',
    success: function(response) {
      // Set data to HTML

      const total_category = response.data.total_category;
      const totalUsers = response.data.total_user;
      const Remaining_api_count = response.data.Remaining_api;
      const totalsubscription = response.data.totalsubscription;
      $('#totalUsers').text(totalUsers);
      $('#totalsubscription').text(totalsubscription);
      $('#totalCategories').text(total_category);
      $('#totalApiUsage').text(Remaining_api_count);
    },
    error: function(xhr, status, error) {
      console.error('Error fetching dashboard metrics:', error);
    }
  });
});
</script>

