<style>
  .dt-search,.dt-paging{float: right;
    padding-bottom: 10px;
}

</style>

<nav id="navmenu" class="navmenu">
    <ul>
      <li><a href="/home" class="active"><i class="bi bi-house navicon"></i>Dashboard</a></li>
      <li><a href="/user"><i class="bi bi-house navicon"></i> Astro Management</a></li>
      <li><a href="/Category"><i class="bi bi-person navicon"></i> Category</a></li>
      <li><a href="/Banner"><i class="bi bi-person navicon"></i> Banner Management</a></li>
      <li><a href="/Subscription"><i class="bi bi-person navicon"></i> Subscription Management</a></li>
      <li><a href="/blog"><i class="bi bi-person navicon"></i> Blogs Management</a></li>
     <li><a href="/blog"><i class="bi bi-person navicon"></i> Ticket Management</a></li>

    </ul>
  </nav>

  <script>
  document.addEventListener('DOMContentLoaded', function () {
    const links = document.querySelectorAll('.navmenu a');
    const currentPath = window.location.pathname;

    links.forEach(link => {
      // Remove existing active classes
      link.classList.remove('active');

      // If current URL starts with the link's href, set active
      if (currentPath.startsWith(link.getAttribute('href'))) {
        link.classList.add('active');
      }
    });
  });
</script>
