<style>
  .dt-search,.dt-paging{float: right;
    padding-bottom: 10px;
}

.navmenu a i{
  margin-right: 8px;
}

</style>

<nav id="navmenu" class="navmenu">
    <ul>
      <li><a href="/home" class="active"><i class="fa-brands fa-dashcube"></i> Dashboard</a></li>
      <li><a href="/user"><i class="fa-solid fa-moon"></i> Astro Management</a></li>
      <!-- <li><a href="/Category"><i class="bi bi-person navicon"></i> Category</a></li> -->
      <li><a href="/Banner"><i class="fa-solid fa-vault"></i> Banner Management</a></li>
      <li><a href="/Subscription"><i class="fa-solid fa-bell"></i> Subscription Management</a></li>
      <li><a href="/blog"><i class="fa-brands fa-microblog"></i> Blogs Management</a></li>
     <li><a href="/Ticket_management"><i class="fa-solid fa-user"></i> User Query</a></li>
     <li><a href="/Testimonial_management"><i class="fa-solid fa-vial"></i> Testimonial  Management</a></li>
      <li><a href="/Transaction_record"><i class="fa-solid fa-file-zipper"></i> Transaction Record</a></li>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#configSubmenu" role="button" aria-expanded="false" aria-controls="configSubmenu">
          <i class="fa-solid fa-bell-concierge"></i> Configuration
        </a>
        <ul class="collapse list-unstyled ps-3" id="configSubmenu">
          <li><a class="nav-link" href="/about_us"> About Us</a></li>
           <li><a class="nav-link" href="/term_condition"> Term & condition</a></li>
            <li><a class="nav-link" href="/privacy_policy"> Privacy & Policy </a></li>
            <li><a class="nav-link" href="/help_support"> Help & Support  </a></li>


        </ul>
              <li><a href="/billing_details"><i class="fa-solid fa-file-zipper"></i> Aws Billing Record</a></li>

        
      </li>
    </ul>


    </ul>
  </nav>

  <script>
  document.addEventListener('DOMContentLoaded', function () {
    const links = document.querySelectorAll('.navmenu a');
    const currentPath = window.location.pathname;

    links.forEach(link => {
      // Remove existing active classes
      link.classList.remove('active');

      // If current URL starts with the link's href, set active
      if (currentPath.startsWith(link.getAttribute('href'))) {
        link.classList.add('active');
      }
    });
  });
</script>
